- var printPost = function printPost(post, noLink)
  article(class='post')
    h1
      - if (!post.published)
        small
          a(href='/edit/post/#{post.slug}') (draft)&nbsp;
      - if (noLink)
        | #{post.title}
      - else
        a(href='/post/#{post.slug}') #{post.title}

    small(class='monospace')
      span(class='post-meta') #{new Date(post.date).toDateString()} , tags:
        - if (post.tags && post.tags.length)
          span(class='post-tags')
            - for (var i=0; i<post.tags.length; i++)
              - var tag = post.tags[i];
              - if (i)
                | ,&nbsp;
              - else
                | &nbsp;
              a(href='/tag/#{tag}', class='no-under', title='View all ##{tag} posts') ##{tag}

    | !{post.body}

- var printComment = function(comment) {
  div(class='post-comment shadow')
    small(title='#{comment.date}', class='pull-right') created #{new Date(comment.date).toDateString()}
    h3 #{comment.name}&nbsp;
      span(class='dark') writes:
    hr
    p !{comment.body}
- }